.Header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Header-logo-wrapper {
  float: left;
}

.Header-title-wrapper {
  text-align: center;

  h1 {
    color: #e67e2a;
  }
}
